.navbar-logo {
    width: 8.875rem;
    height: 6.875rem;
}
.navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    min-height: 5rem;
    padding: 1rem;
    z-index: 4;
    background-color: #F7C67D;
    box-shadow: 0 0 12px #873600d7;
}
.navbar-links {
    list-style-type: none;
    width: 80%;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 4;
}
.navbar-link {
    padding: .15rem .3rem;
    transition: transform .2s ease;
    border: 1px solid #873600d7;
    border-radius: 7px;
    box-shadow: 0 0 6px #873600d7;
    background-color: #FFE5BD;
    font-weight: 400;
}
.navbar-burger {
    width: 40px;
    height: 40px;
    background-color: transparent;
    color: white;
    border: none;
    display: none;
}

@media screen and (max-width: 760px) {
    .navbar-links {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        right: 0;
        bottom: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        padding: 2rem;
        background-color: black;
    }
    .navbar-link {
        display: block;
        padding: 1.5rem;
        font-size: 4vw;
        margin-top: 1rem;
        border: none;
        box-shadow: none;
        border-radius: none;
        background-color: transparent;
        color: whitesmoke;
        font-weight: 400;
    }
    .navbar-burger {
        display: block;
        position: fixed;
        top: 1rem;
        right: 1rem;
        z-index: 4;
    }
    .navbar-burger:hover{
        cursor: pointer;
    }
    .burger-bar,
    .burger-bar::before, 
    .burger-bar::after {
        display: block;
        width: 40px;
        height: 3px;
        position: relative;
        border-radius: 3px;
        background-color: whitesmoke;
    }
    .burger-bar::before, 
    .burger-bar::after {
        content: "";
        position: absolute;
        left: 0;
    }
    .burger-bar::after {
        transform: translateY(12px);
    }
    .burger-bar::before {
        transform: translateY(-12px);
    }
}