.logo {
    width: 8.875rem;
    height: 6.875rem;
}
.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 10vh;
    max-height: 12vh;
    padding: 10px 25px;
    background-color: #F7C67D;
    box-shadow: 0 0 12px #873600d7;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}
nav a {
    transition: .2s ease;
    border: 1px solid #873600d7;
    padding: 7px;
    border-radius: 7px;
    box-shadow: 0 0 6px #873600d7;
    background-color: #FFE5BD;
    font-weight: 400;
}
nav a:hover {
    transform: scale(1.1);
    color: #7e3200;
}