.error-page {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    position: relative;
}
.error-page-text {
    text-align: center;
    position: absolute;
    top: 60%;
}
.error-page h2 {
    font-size: 4rem;
}
.error-page p {
    margin-top: 2rem;
    font-size: 2rem;
}
.error-page-link {
    font-size: 2rem;
    margin: 0 10px;
    transition: all .2s cubic-bezier(0.215, 0.610, 0.355, 1);
}
.error-page-link:hover {
    color: #969595;
    cursor: pointer;
}
.error-svg {
    transform: scale(.6);
    position: absolute;
    top: -10%;
}